

.infoCard {
    width: 800px;
    height: 600px;
    background: #262626;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 1.5rem;
    color: aliceblue;
}

.info-box {
    position: relative;
    width: 300px;
    height: 300px;
    background-color: rgb(7, 75, 90);
    border: 4px solid lightseagreen;
    margin: 10px;

}

.imgBox {
    position: relative;
    overflow: hidden;
}

.infoImage {
    max-width: 100%;
    max-height: 290px;
    transition: transform 0.75s;
}

.infoImage:hover {
    transform: scale(1.2)
}


.evo {
    margin-top: 100px;
    max-height: 120px;
}

.attributeImage {
    width: 115px;
    height: 115px;
}

.attributeBox {
    background-color: rgb(7, 75, 90);
    border: 4px solid lightseagreen;
    position:relative;
}

.type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.attributes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    color: aliceblue;
}

h4 {
    margin-top: 130px;
}

.image_description {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    opacity: 0;
    margin: auto;
    padding: 0;
    transition: opacity 0.25s;
}

.image_description:hover {
    opacity: 1;
}